{% extends 'base.html' %}
{% load staticfiles %}
{% load myfilter %}
{% block left_content %}
    <div class="postdate">
      <div class="month">{{ article.date_publish | month_to_upper  }}</div>
      <div class="date">{{ article.date_publish | date:'d' }}</div>
    </div>
    <div class="title">
        <h2><a href="" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h2>
        <div class="postmeta">
          <span class="postmeta_author">{{ article.user.username }}</span>
          <span class="postmeta_category"><a href="" rel="category">{{ article.category.name }}</a></span>
          <span class="postmeta_time">{{ article.date_publish | date:'Y-m-d' }}</span>
        </div>
    </div>
        <div class="entry">
          {{ article.content | safe }}
        </div>
    <br />
        <span class="tags">
            {% for tag in article.tag.all %}
            <a href="?tag={{ tag.name }}" rel="tag">{{ tag.name }}</a>
            {% endfor %}
        </span>
    <br />
    <br />
      <div class="commentstitle"><h3 id="comments"><span class="commentsnumber">{{ comment_num}}条评论</span></h3></div>

      <ol class="commentlist">
          {% for comment in comment_list %}
          <li id="comment-59418">
                <div class="top"><a href='{{ comment.url }}' rel='external nofollow' class='url'>{{ comment.username }}</a><span class="time"> @ <a href="#comment-59418" title="">{{ comment.date_publish | date:'Y-m-d H:i:s' }}</a></span></div>
                <div><img alt='' src='{% static 'images/default.jpg' %}' class='avatar avatar-32 photo' height='32' width='32' /></div>

                <div class="body">
                                <p>{{ comment.content |safe }}</p>
                </div>
          </li>
          {% for children_comment in comment.children_comment %}
          <li id="comment-59542">
                <div class="reply">
                  <div class="top"><a href="{{ children_comment.url }}" rel="external nofollow" class="url">{{ children_comment.username }}</a><span class="time"> @ <a href="#comment-59543" title="">{{ children_comment.date_publish | date:'Y-m-d H:i:s' }}</a></span></div>
                  <div><img alt="" src="{% static 'images/default.jpg' %}" class="avatar avatar-32 photo" height="32" width="32"></div>

                  <div class="body">
                                        {{ children_comment.content |safe}}                  </div>
                </div>
          </li>
          {% endfor %}
          {% endfor %}
      </ol>


   <div id="commentform">
    <h3 id="respond">添加评论</h3>

    <div class='login_info'>还没有登陆？可以登录后再评论哦。<big><a href="">&raquo;去登录</a>&nbsp;&nbsp;<a href="">&raquo;去注册</a></big></div>

    <form action="http://www.baidu.org/wp-comments-post.php" method="post" id="commentform">


    <p><input type="text" name="author" id="author" value="" size="25" tabindex="1" class="comment_input" />
    <label for="author">称呼(必填字段)</label></p>

    <p><input type="text" name="email" id="email" value="" size="25" tabindex="2" class="comment_input" />
    <label for="email">邮箱(必填字段/隐私保护)</label></p>

    <p><input type="text" name="url" id="url" value="" size="25" tabindex="3" class="comment_input" />
    <label for="url">网址</label></p>


    <!--<p><small><strong>XHTML:</strong> You can use these tags: &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; &lt;pre class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; &lt;span class=&quot;&quot; title=&quot;&quot; data-url=&quot;&quot;&gt; </small></p>-->

    <p><textarea name="comment" id="comment" cols="25" rows="5" tabindex="4" class="message_input" ></textarea></p>

    <p><input name="submit" type="submit" id="submit" tabindex="5" value="Submit" class="button" />
    <input type="hidden" name="comment_post_ID" value="542" />
    <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="999f94e7bf" /></p><p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="87"/></p></p>

    </form>
    </div>
{% endblock %}