  <div id="pagination">
    <ul id="pagination-flickr">
        {% if artical_list.has_previous %}
                    <li class="previous-off"><a href="?{{ artical_list.previous_page_number.querystring }}" class="">上一页</a></li>
                {% endif %}

                {% for page in artical_list.pages %}
                    {% if page %}
                        {% ifequal page artical_list.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                                <li><a href="?{{ page.querystring }}" class="">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                       <li class=""><a href="">...</a></li>
                    {% endif %}
                {% endfor %}

                {% if artical_list.has_next %}
                    <li class="next"><a href="?{{ artical_list.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
   </ul>
   </div>